<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/BugTrackerBase</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">AhuleB2KS</property>
        <!-- DB schema will be updated if needed -->
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Сохранять результаты выполнения запросов -->
        <property name="connection.autocommit">true</property>
        <mapping class="ru.polinabevad.bugtracker.core.Task"/>
        <mapping class="ru.polinabevad.bugtracker.core.People"/>
        <mapping class="ru.polinabevad.bugtracker.core.Message"/>
    </session-factory>
</hibernate-configuration>